<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewData["Title"] | Бэйстубэйс</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/Font-Awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/customCss.css" rel="stylesheet" />
        <link href="~/css/customForm.css" rel="stylesheet"/>
        <link href="~/css/bootstrap-social.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/Font-Awesome/css/font-awesome.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <div id="body"></div>
    <div class="body-wrapper">
        <!--Navigation Bar Section-->
        <div id="menu-master">
            <div class="menu-static" id="menu-static">
                <nav class="navbar navbar-inverse inline-navbar">
                    <ul class="nav navbar-nav menu-static-left" id="menu-static-left">
                        <li><a asp-area="" asp-controller="Home" asp-action="Company">Компания</a></li>
                    </ul>
                    <ul class="nav navbar-nav menu-static-center" id="menu-static-center">
                        <li><a asp-area="" asp-controller="Home" asp-action="Software">Продукты</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Support">Поддержка</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Updates">Обновления</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Blog" disabled="disabled">Блог</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </nav>
            </div>
            @Html.Partial("_MenuFixedPartial")
        </div>

        <!--Body Section-->
        <div class="body-content">
            @RenderBody()
            <div class="container">
                <footer class="row footer-container">
                    @RenderSection("Footer",false)
                </footer>
            </div>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/customAlignNavBar.js"></script>
            <script src="~/js/addActiveClass.js"></script>
            <script src="~/js/imagesPreview.js"></script>
            @*<script src="~/js/customAffix.js"></script>*@
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>


        @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
