@model ClientContactsEditViewModel
<form id="clientContactsForm" class="form-horizontal" method="post" data-serialize=""
      asp-action="ClientContacts" asp-controller="Clients" asp-area="Company">
    <div class="client-contacts-container">
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="address-container">
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-default client-legal-address-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="LegalAddress" class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <input asp-for="LegalAddress" class="form-control" />
                                    </div>
                                    <span asp-validation-for="LegalAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="FirstSignatory" class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <input asp-for="FirstSignatory" class="form-control" />
                                    </div>
                                    <span asp-validation-for="FirstSignatory" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="SecondSignatory" class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <input asp-for="SecondSignatory" class="form-control" />
                                    </div>
                                    <span asp-validation-for="SecondSignatory" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default client-actual-address-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="ActualAddress" class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <input asp-for="ActualAddress" class="form-control" />
                                    </div>
                                    <span asp-validation-for="ActualAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="MailAddress" class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                        <input asp-for="MailAddress" class="form-control" />
                                    </div>
                                    <span asp-validation-for="MailAddress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default client-phones-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber1" class="col-md-6 control-label"></label>
                                    <div class="col-md-6">
                                        <input asp-for="PhoneNumber1" class="form-control" />
                                    </div>
                                    <span asp-validation-for="PhoneNumber1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ContactFullName1" class="control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="ContactFullName1" class="form-control" />
                                    </div>
                                    <span asp-validation-for="ContactFullName1" class="text-danger"></span>
                                </div>
                            </div>
                            @for (int i=0;i<Model.ContactPhonesView.Count; i++)
                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.ContactPhonesView[i].PhoneNumber" class="col-md-6 control-label"></label>
                                        <div class="col-md-6">
                                            <input asp-for="@Model.ContactPhonesView[i].PhoneNumber" class="form-control" />
                                        </div>
                                        <span asp-validation-for="@Model.ContactPhonesView[i].PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.ContactPhonesView[i].ContactFullName" class="control-label"></label>
                                        <div class="col-md-12">
                                            <input asp-for="@Model.ContactPhonesView[i].ContactFullName" class="form-control" />
                                        </div>
                                        <span asp-validation-for="@Model.ContactPhonesView[i].ContactFullName" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="panel panel-default client-email-container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Email1" class="col-md-6 control-label"></label>
                                    <div class="col-md-6">
                                        <input asp-for="Email1" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Email1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.IncludeToMailList" class="control-label"></label>
                                    <div class="col-md-1">
                                        <input asp-for="@Model.IncludeToMailList" class="checkbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @for (int i=0;i< Model.ContactEmailsView.Count;i++)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.ContactEmailsView" class="col-md-6 control-label"></label>
                                        <div class="col-md-6">
                                            <input asp-for="@Model.ContactEmailsView[i].Email" class="form-control" />
                                        </div>
                                        <span asp-validation-for="@Model.ContactEmailsView[i].Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="@Model.ContactEmailsView[i].IncludeToMailList" class="control-label"></label>
                                        <div class="col-md-1">
                                            <input asp-for="@Model.ContactEmailsView[i].IncludeToMailList" class="checkbox">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
