@model IEnumerable<ProductSubCategory>
@{ 
    Layout = null;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th class="col-md-2">Продукт</th>
                        <th class="col-md-2">Предназначение продукта</th>
                        <th class="col-md-3">Краткое описание</th>
                        <th class="col-md-2">Изображение</th>
                        <th class="col-md-1"></th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productSubCategory in Model)
                    {
                        <tr>
                            <td>@productSubCategory.Name</td>
                            <td>@productSubCategory.Title</td>
                            <td>@productSubCategory.ShortDescription</td>
                            <td>
                                <div class="image-container-admin">
                                    @if (productSubCategory.ProductSubCategoryImages.FirstOrDefault() == null)
                                    {
                                        <img src="http://placehold.it/100x50" alt="default logo" 
                                             title="@productSubCategory.Name logo" />
                                    }
                                    else
                                    {
                                        <img src="@productSubCategory.ProductSubCategoryImages.Where(i => i.IsPoster == true).FirstOrDefault().Path"
                                             alt="@productSubCategory.Name logo" title="@productSubCategory.Name logo" />
                                    }
                                </div>
                            </td>
                            <td><a class="btn btn-warning" asp-action="Edit" 
                                   asp-route-id="@productSubCategory.ProductSubCategoryId.ToString()">Редактировать</a></td>
                            <td><a class="btn btn-danger" 
                                   asp-action="Delete" asp-route-id="@productSubCategory.ProductSubCategoryId.ToString()">Удалить</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

